<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="oracle.jdbc.driver.OracleDriver">
		</property>
		<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="mappingResources">
		   	<list>
			    <!--value>test/s2sh/User.hbm.xml</value-->
			    <value>com/test/login/Model/AccountInfo.hbm.xml</value>
		    </list>
	    </property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.Oracle9Dialect
				</prop>
			</props>
		</property>
	</bean>
		<bean id="loginDao" class="com.test.login.DAO.LoginDaoImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="loginService" class="com.test.login.Service.LoginServiceImp">
		<property name="loginDao" ref="loginDao"></property>
	</bean>
	<!--  处理用户登录的Action -->
	<bean id="loginAction" class="com.test.login.Action.LoginAction" scope="prototype">
		<property name="loginService" ref="loginService"></property>
	</bean>
	<bean id="accountInfo" class="com.test.login.Model.AccountInfo">
	</bean>
	
	</beans>